.form-control {
    &:focus:not(.focus--mouse) {
        box-shadow: none !important;
        outline: none !important;
        outline-offset: 3px;
        border-color: unset !important;
    }
}

.form-select {
    background-image: none !important;
}